[project]
	description = Configuration for Apache as deployed on the cluster.
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group ldap/ops
	submit = group ldap/ops
[access "refs/heads/betacluster"]
	forgeAuthor = group integration
	push = +force group integration
	forgeCommitter = group integration
