[project]
	description = Configuration for Apache as deployed on the cluster.
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group ldap/ops
	submit = group ldap/ops
[access "refs/heads/betacluster"]
	label-Code-Review = -2..+2 group wmf-deployment
	submit = group JenkinsBot
	submit = group wmf-deployment
